/*公共样式*/
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #454452;
}

img {
	display: block;
}

input {
	background-color: transparent;
	border: none;
	vertical-align: top;
}

/*header区域   */
.header {
	height: 150px;
}

.header_top {
	height: 110px;
	background-color: #8F071C;
}

.header_inner {
	height: 110px;
	width: 1000px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 14px;
	background-image: url(images/368990c1aaedff2fbb5c2ad39a8a3a5.png);
	height: 82px;
	width: 306px;
}

.form {
	height: 30px;
	width: 250px;
	float: right;
	margin-top: 60px;
}

.form_txt {
	height: 28px;
	width: 198px;
	float: left;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;
	line-height: 28px;
	border: 1px #8F071C solid;
	background-color: #FFFFFF;
}

.form_btn {
	height: 28px;
	width: 50px;
	float: right;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000000;
	line-height: 28px;
	background-color: #CCCCCC;
}

.header_bot {
	height: 40px;
	background-color: #C20723;
}

.header_nav {
	height: 40px;
	width: 1000px;
	margin: 0 auto;
}

/*导航下拉菜单*/

/*导航*/
.header_nav li {
	float: left;
}

.header_nav .li1 {
	float: left;
	background-color: #640614;
}

.header_nav li a {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #ffffff;
	line-height: 40px;
	display: block;
	padding: 0 18px;
}

.header_nav li a:hover {
	background-color: #640614;
}

li {
	list-style: none
}

/*banner区域   */
.banner {
	height: 350px;
}

/*main区域   */
.main {
	height: 1190px;
	width: 1000px;
	margin: 0 auto;
}

.main_top {
	height: 400px;
	width: 1000px;
	padding-top: 10px;
}

.main_top_1 {
	height: 400px;
	width: 490px;
	float: left;
}

.main_top_2 {
	height: 400px;
	width: 490px;
	float: right;
}

.main_top_11 {
	height: 40px;
	width: 490px;
}

.main_top_12 {
	height: 350px;
	width: 490px;
}

.wenzi1 {
	font-family: "微软雅黑";
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 200;
	line-height: 40px;
	float: left;
}

.wenzi2 {
	font-family: "微软雅黑";
	color: #FFFFFF;
	font-size: 18px;
	line-height: 40px;
	float: right;
}

.wenzi2 a {
	font-family: "微软雅黑";
	color: #FFFFFF;
	font-size: 18px;
}

.wenzi2 a:hover {
	color: black;
}

.main_center {
	height: 400px;
	width: 1000px;
}

.main_bot {
	height: 400px;
	width: 1000px;
}

.main_bot_1 {
	height: 40px;
	width: 1000px;

}

.main_bot_2 {
	height: 360px;
	width: 1000px;
}

.bot {
	height: 180px;
	width: 1000px;
}

.bot_img {
	height: 180px;
	width: 320px;
	float: left;
	margin-left: 8px;
	margin-right: 5px;
}

/*footer区域   */
.footer {
	height: 150px;
}

.footer_top {
	height: 120px;
	background-color: #C20723;
}

.footer_top_inner {
	width: 1000px;
	height: 120px;
	margin: 0 auto;
}

.footer_l {
	width: 330px;
	height: 120px;
	float: left;
	font-family: "微软雅黑";
	font-size: 16px;
	color: black;
	line-height: 120px;
}

.footer_m {
	width: 400px;
	height: 120px;
	float: left;
}

.footer_txt1 {
	font-family: "微软雅黑";
	font-size: 16px;
	color: black;
	font-weight: normal;
	margin-top: 30px;
}

.footer_txt2 {
	font-family: "微软雅黑";
	font-size: 16px;
	color: black;
	font-weight: normal;
	margin-top: 10px;
}

.footer_r {
	width: 270px;
	height: 120px;
	float: left;
}

.footer a {
	font-family: "微软雅黑";
	font-size: 16px;
	color: black;
}

.footer a:hover {
	color: #c74023;
}

.footer_bot {
	height: 30px;
	background-color: #000000;
}

.footer_bot_inner {
	width: 1000px;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #ffffff;
}

.footer_bot_inner a {
	font-family: "微软雅黑";
	font-size: 16px;
	color: white;
}

.footer_bot_inner a:hover {
	color: #c74023;
}

.gohome {
	width: 40px;
	height: 40px;
	position: fixed;
	right: 100px;
	bottom: 50px;
}